<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <!-- Link to the new CSS file -->
    <title>Document</title>
  </head>

  <body>
    <header class="headerDiv">
      <nav>
        <ul>
          <li><a href="/">Shop</a></li>
          <li><a href="/admin/add-product">Add Product</a></li>
          <li><a href="/contactUS">Contact Us</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="message" method="POST">
        <input type="text" name="title" placeholder="Enter your product" />
        <input type="number" name="size" placeholder="Product size" />
        <button type="submit">Add to Cart</button>
      </form>
    </main>
  </body>
</html>
